{% extends "network/layout.html" %}
{% load tz %}

{% block body %}
    <div class="container">
        <div id="follow">

        </div>
        <script type="text/babel">
            class Follow extends React.Component{
                constructor(props){
                    super(props);
                    {% if current_state %}
                        this.state = {
                            current_state: "Unfollow",
                            follower: {{ followers }},
                            following: {{ following }}
                        };
                    {% else %}
                        this.state = {
                            current_state: "Follow",
                            follower: {{ followers }},
                            following: {{ following }}
                        };
                    {% endif %}
                }
                render(){
                    return(
                        <div>
                            <h1 style={% verbatim %}{{display: "inline"}}{% endverbatim %}>{{ user_details.username }}</h1>
                            {% if user_details.id != user.id %}
                                {% if user.is_authenticated %}
                                <button onClick = {this.follow} type="button" className="btn btn-dark" style={% verbatim %}{{float: "right", marginRight: "10%", display: "inline"}}{% endverbatim %}>{this.state.current_state}</button>
                                {% endif %}
                            {% endif %}
                            <div className="container">
                                <div className="row justify-content-md-center">
                                    <div className="col col-lg-2 mx-auto">
                                        <h5 style={% verbatim %}{{display: "inline"}}{% endverbatim %}>Followers: { this.state.follower } </h5>
                                    </div>
                                    <div className="col-md-auto">
                                    </div>
                                    <div className="col col-lg-2 mx-auto">
                                        <h5 style={% verbatim %}{{display: "inline"}}{% endverbatim %}>Following: { this.state.following }</h5>
                                    </div>
                                </div>


                            </div>
                        </div>

                    );
                }
                follow = ()=>{
                    console.log(this.state.current_state)
                    if(this.state.current_state === "Follow"){
                        fetch("/follow/{{ user.id }}/{{ user_details.id }}");
                        this.setState(state=>({
                            follower: state.follower + 1,
                            current_state: "Unfollow"
                        }));
                    }
                    else{
                        fetch("/follow/{{ user.id }}/{{ user_details.id }}");
                        this.setState(state=>({
                            follower: state.follower - 1,
                            current_state: "Follow"
                        }));
                    }
                }
            }
            ReactDOM.render(<Follow />, document.querySelector("#follow"));
        </script>
    </div>
    <hr>

    <div class="container">
    {% for post in posts %}
        <div class="container">
            <div class="card post" id="{{ post.id }}">
                <div class="card-header">
                    <a href="{% url 'user' post.user %}" style="color: black;"> {{ post.user.username }} </a>
                    {% if post.user == user %}
                        <button class="edit_post" style="display: inline; float: right;border: none;"><i class="fa fa-edit"></i></button>
                    {% endif %}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ post.content }}</h5>
                </div>
                <div class="card-footer">
                    {% if post.user.username != user.username %}
                        <div class="likes" id="p{{ post.id }}">

                        </div>

                        <script type="text/babel">
                            class App extends React.Component {
                                constructor(props){
                                    super(props);
                                    {% if post.id in liked_posts %}
                                        this.state = {
                                            likes: {{ post.likes }},
                                            emoji: "\u2665"
                                        };
                                    {% else %}
                                        this.state = {
                                            likes: {{ post.likes }},
                                            emoji: "\u2661"
                                        };
                                    {% endif %}
                                }
                                render() {
                                    return (

                                        <div style={% verbatim %}{{display: "inline"}}{% endverbatim %}>
                                            {% if user.is_authenticated %}
                                                <button className="like" onClick={this.likes} style={% verbatim %}{{border: "none"}}{% endverbatim %}>{this.state.emoji}</button>
                                            {% else %}
                                                <button style={% verbatim %}{{border: "none"}}{% endverbatim %}>{this.state.emoji}</button>
                                            {% endif %}
                                            {this.state.likes}
                                            <span style={% verbatim %}{{float: "right"}}{% endverbatim %}>{{ post.time_stamp | localtime }}</span>
                                        </div>

                                    );
                                }
                                likes = ()=>{
                                    if(this.state.emoji === "♥"){
                                        fetch("/liked/{{ post.id }}");
                                        this.setState(state=>({
                                            likes: state.likes - 1,
                                            emoji: "\u2661"
                                        }));
                                    }
                                    else{
                                        fetch("/liked/{{ post.id }}");
                                        this.setState(state=>({
                                            likes: state.likes + 1,
                                            emoji: "\u2665"
                                        }));
                                    }

                                }
                            }
                            ReactDOM.render(<App />, document.querySelector("#p{{ post.id }}"));
                        </script>
                    {% else %}
                        <div style="display: inline;">
                            <button style="border: none;">&#9825;</button>
                            {{ post.likes }}
                            <span style="float: right;">{{ post.time_stamp | localtime }}</span>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        // Select all buttons
        document.querySelectorAll('.edit_post').forEach(button => {

            // When a button is clicked, switch to that page
            button.onclick = function() {
                var clicked = this;
                this.disabled = true;
                const content = this.parentElement.parentElement.querySelector(".card-title").innerHTML;
                const textarea = document.createElement('textarea');
                textarea.innerHTML = content;
                textarea["rows"] = 3;
                textarea.className = "form-control editing";
                this.dataset.clicked = "1";
                this.parentElement.parentElement.querySelector(".card-title").parentElement.append(textarea);
                const edit_button = document.createElement('button');
                edit_button.className = "btn btn-dark save_edit";
                edit_button.innerHTML = "Save";
                this.parentElement.parentElement.querySelector(".card-title").parentElement.append(edit_button);
                this.parentElement.parentElement.querySelector(".card-title").remove();
                document.querySelectorAll('.save_edit').forEach(button => {
                    // When a button is clicked, switch to that page
                    button.onclick = function() {
                        const post_id = this.parentElement.parentElement.id;
                        const new_content = this.parentElement.querySelector("textarea").value;
                        console.log(new_content);
                        const h5 = document.createElement('h5');
                        h5.className = "card-title";
                        h5.innerHTML = new_content;
                        this.parentElement.append(h5);
                        this.parentElement.parentElement.querySelector(".edit_post").disabled = false;
                        this.parentElement.querySelector("textarea").remove();
                        this.parentElement.querySelector("button").remove();
                        function getCookie(name) {
                            let cookieValue = null;
                            if (document.cookie && document.cookie !== '') {
                                const cookies = document.cookie.split(';');
                                for (let i = 0; i < cookies.length; i++) {
                                    const cookie = cookies[i].trim();
                                    // Does this cookie string begin with the name we want?
                                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                        break;
                                    }
                                }
                            }
                            return cookieValue;
                        }
                        let data = {
                            'new_content': new_content,
                            'post_id': post_id
                        };
                        let csrftoken = getCookie('csrftoken');
                        let response = fetch('/edit_post', {
                            method: 'POST',
                            body: JSON.stringify(data),
                            headers: {
                                "X-CSRFToken": csrftoken,
                                "Accept": "json",
                                "Content-Type": "json"

                            },
                        })
                    }
                });
            }
        });
    });
    </script>
    <nav>
        <ul class="pagination justify-content-center">

            {% if posts.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" style="color: black">&laquo;</a>
                </li>
                <li class="page-item">
                        <a class="page-link" href="?page={{ posts.previous_page_number }}" style="color: black">Previous</a>
                </li>
            {% endif %}
            {% if posts.num_pages > 1 %}
                <li class="page-item"><a class="page-link" href="#" style="color: black"><strong>{{ posts.number }}</strong></a></li>
            {% endif %}
            {% if posts.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}" style="color: black">Next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ posts.paginator.num_pages }}" style="color: black">&raquo;</a></li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}
